{% extends "@ezdesign/pagelayout.html.twig" %}

{% trans_default_domain 'maison' %}

{% block page_head %}
    {% set title = ez_content_name(content) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="page mt-5 pb-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-8 col-md-6">
                    {{ ez_render_field(content, 'highlighted_post_1', {itemViewType: 'card'}) }}
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-sm-5">
                    {{ ez_render_field(content, 'highlighted_post_2', {itemViewType: 'card'}) }}
                </div>
            </div>
            {% include '@ezdesign/parts/subscribe.html.twig' with {'subscribe_form_remote_id': subscribe_form_remote_id} only %}
            <div class="row mb-5">
                <div class="col-12 pb-5">
                    <h4>{{ 'maison.latest_blog'|trans|desc('Latest Posts') }}</h4>
                </div>
                {{ ez_render_field(content, 'posts', {itemViewType: 'card'}) }}
            </div>
        </div>
    </div>
{% endblock %}
